.card-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #0268B5;
    border-radius: 2rem 2rem 0rem 0rem;
    margin: 0rem 6rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
    margin: 10px;
    position: relative;
    text-align: center;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card-image{
    align-self: center;
    width: 60%; /* Ajustar la imagen al ancho de la tarjeta */
    height: auto; /* Ajustar la altura automáticamente */
}
.card-title h1,p{
    font-family: var(--font-family);
    margin: 0px 12px;
    color: #f0f0f0;
    margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
}
.card-title{
    font-family: var(--font-family);
    margin: 0px 12px;
    color: #0C266C;
    margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
}
.card-text{
    font-family: var(--font-family);
    color: #0C266C;
}