.card-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
    margin: 10px;
    position: relative;
    text-align: center;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-image{
    width: 100%; /* Ajustar la imagen al ancho de la tarjeta */
    height: auto; /* Ajustar la altura automáticamente */
}
.card-title{
    font-family: Manrope;
    margin: 0px 12px;
    color: #0C266C;
    margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
}
.card-text{
    font-family: Manrope;
    color: #0C266C;
}