.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 0rem 8rem 8rem ;
    border-radius: 0rem 0rem 2rem 2rem;
    background: #0268B5;
    height: 300px;
}

.gpt3__cta-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin-left: 40px;
}

.gpt3__cta-content p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 50px;
    font-weight: 300;
}

.gpt3__cta-content h1 {
    font-family: var(--font-family);
    font-size: 34px;
    line-height: 50px;
    font-weight: 700;
}

.gpt3__cta-btn {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/

}

.gpt3__cta-btn button {
    background: #0C266C;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 1rem 2rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}
.img-card{
    align-items: end;
    margin-bottom: 200px;
}

@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .gpt3__cta-content h1 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
