.gpt3__header {
    display: flex;
    flex-direction: column;
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 5rem;
}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.04em;
}

.gpt3__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: var(--color-text);

    margin-top: 1.5rem;
}
.gpt3__know-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__know-more p {

    /*border: 2px solid #0C266C;*/
    /*border-radius: 5px ;*/
    /*color: #0C266C;*/
    /*font-family: var(--font-family);*/
    /*font-weight: 500;*/
    /*font-size: 18px;*/
    /*line-height: 50px;*/
    /*!*text-transform: capitalize;*!*/
    /*margin: 0 1rem;*/
    /*cursor: pointer;*/
    /*padding: 0.5rem 1rem;    !*arreglar borde padding: 2px 2px; !* Añadir relleno para que parezca un botón *!*!*/
    color: #0C266C;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 60px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__know-more button{
    padding: 0.5rem 1rem;
    color: white;
    background: #0268B5;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.gpt3__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.gpt3__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /*background: var(--color-footer);*/
    border: 2px solid #0268B5;
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gpt3__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #0268B5;
    border: 2px solid #0268B5;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gpt3__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.gpt3__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.gpt3__header-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.gpt3__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gpt3__header-image img {
    width: 60%;
    height: 60%;
}
/*this part of the code is in case the device screen is smaller*/
/*para revisar si hay unos tomanos predeterminados por dispositivo*/
@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header-content h1 {
        font-size: 24px;
        line-height: 25px;
    }

    .gpt3__header-content p {
        font-size: 16px;
        line-height: 5px;
    }

    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__people p {
        margin: 0;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}